html {
   background-color: #e0ffe0;
   }
img {
   padding-top: 4px;
   }
/* body {
   max-width: 500px;
   margin: auto;
   } */
#connections_page {
  margin: 0;
  padding-bottom: 40px;
  padding-top: 40px;
  background: #222;
  font-family: monaco;
  color: white;
  text-shadow: 2px 2px black;
  text-align: center;
  font-size: 50px;
}

    @import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
    body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    }

    .container {
    width: 80%;
    margin: 0 auto;
    }

    header {
    background: #55d6aa;
    }

    header::after {
    content: '';
    display: table;
    clear: both;
    }

    .logo {
    float: left;
    padding: 10px 10px;
    color: white;
    font-size: 20px;
    font-family: "Lucida Console";
    border-style: solid;
    }

    nav {
    float: right;
    }

    nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    }

    nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;

    position: relative;
    }

    nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    }

    nav a:hover {
    color: #000;
    }

    nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
    }

    nav a:hover::before {
    width: 100%;
    }

#connections {
  margin: 3%;
  border: 3px solid black;
  padding-bottom: 1%;
}

#connections h1 {
  /* margin: 5%;
  border: 3px solid black; */
  padding: 1% 2% 1% 2%;
}

.description {
  padding-top: 1%;
}

.description p {
  padding: 0% 2%;
}
