#event-div{
 width: 450px;
 height: 50px;
 background-size: 100%;
 position: relative;
 max-width: 500px;
 margin: auto;
 }

 img {
   padding-top: 4px;
 }

 #eventlist{
  /* width: 450px;
  height: 300px;
  background-size: 100%;
  position: relative; */
  max-width: 500px;
  margin: auto;
  }

#create_event {
    text-decoration:  none;
}

  #events_header {
   margin: 0;
   padding-bottom: 40px;
   padding-top: 40px;
   background: #222;
   font-family: monaco;
   color: white;
   text-shadow: 2px 2px black;
   text-align: center;
   font-size: 50px;
  }

#body_div {
   text-align: center;
   padding-top: 40px;
}

 #line1 {
    top: 0;
  }

 #line2 {
       bottom: 0;
     }

#paragraph_text {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 4%;
}
#title_text {
  padding-top: 3%;
}
  html {
     background-color: #e0ffe0;
     }
  /* body {
      max-width: 500px;
      margin: auto;
    } */
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  }

  @import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	/* background: #222; */
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 10px;
  color: white;
  font-size: 20px;
  font-family: "Lucida Console";
  border-style: solid;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

.row {
  border-style: solid;
  margin-bottom: 10%;
}
