<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Make a Connection!</title>
    <link rel="stylesheet" href="../static/css/newevent.css">
  </head>
  <body>
    <div class="top-navbar">
      <!-- goes back to the event page -->
      <a href="/connections">X</a>
    </div>
    <div class="container">
      <h1>Make a connection!</h1>
      <form method="post" action="/add_connection">
        Search for Username:<br>
        <input type="text" name="username_search">
        <br>
      </form>
      <ul>
        {% for friend in friend_list %}
          <li><a href="/profile">{{friend.first_name}}</a></li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
