<!--welcome.html-->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../static/css/connections.css">
  </head>
  <body>
    <header>
      <div class="container">
        <a href = "https://schedify.appspot.com">
      <img src="static/images/logo.png" alt="Schedify Logo" style="height:70px;">
       </a>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/event-feed">Events</a></li>
            <li><a href="/connections">Connections</a></li>
            <li><a href="/profile">Profile</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <h1 id="connections_page">Connections</h1>
    <br>
    <br>
    <div class="container">
      <h1>Make a connection!</h1>
      <form method="get" action="/connections">
        Search for Account<br>
        Enter username:<br>
        <input type="text" name="username_search">
        <input type="submit" value="Go!">
        <br>
      </form>
      <ul>
        {% for search in search_list %}
          <p>{{search.first_name}} {{search.last_name}}</p>
          <form class="" action="/profile" method="post">
            <input type="hidden" name="username_searchid" value={{search.key.id()}}>
            <input type="submit" name="" value="Go">
          </form>
        {% endfor %}
      </ul>

    <div class="requests">
      <h1>Requests:</h1>
      {% for request_key in requestkey_list %}
        {% set request = request_key.get() %}
        <div class="each-request">
          <h3>Username: {{request.username}}</h3>
          <p>Name: {{request.first_name}} {{request.last_name}}</p>
          <form class="" action="/connections" method="post">
            <input type="submit" name="request_answer" value="Accept">
            <input type="submit" name="request_answer" value="Decline">
            <input type="hidden" name="request_userid" value={{request_key.id()}}>
          </form>
        </div>
      {% endfor %}
    </div>

    </div>
    <div id="connections">
      <h1>Your Connections:</h1>
      {% for friend_key in friend_list %}
        {% set friend = friend_key.get() %}
        <div class=row>
          <div class=img></div>
          <div class=description>
            <p> {{friend.username}} </p>
            <p> {{friend.first_name}} </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </body>
</html>
