<!--welcome.html-->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../static/css/connections.css">
  </head>
  <body>
    <!-- for now it presents all friends -->
    <!-- Nav bar -->
    <!-- <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/event-feed">Events</a>
      <a href="/connections">Connections</a>
      <a href="/profile">Profile</a>
    </div> -->
    <header>
      <div class="container">
        <h5 class="logo">Schedify</h5>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/event-feed">Events</a></li>
            <li><a href="/connections">Connections</a></li>
            <li><a href="/profile">Profile</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <h1 id="connections_page">Connections</h1>
    <!-- <h2>Your Go-to Platform for Memes!</h2> -->
   <div id="connections-div">
        <a href="/add_connection">Make a connection</a>
      </button>
    <br>
    <br>
    <br>

  {% for event in event_info %}
    <div class=row>
      <div class=img></div>
      <div class=description></div>
        <p> {{event.title}} </p>
        <p> {{event.summary}} </p>
    </div>
  {% endfor %}
  </div>
  </body>
</html>
