<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/css/event.css">
  </head>
    <title>Events</title>


  <body>
    <!-- Nav bar -->
    <header>
    <div class="container">
      <h5 class="logo">Schedify</h5>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/event-feed">Events</a></li>
          <li><a href="/connections">Connections</a></li>
          <li><a href="/profile">Profile</a></li>
        </ul>
      </nav>
    </div>
  </header>
    <!-- <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/event-feed">Events</a>
      <a href="/connections">Connections</a>
      <a href="/profile">Profile</a>
    </div> -->

    <h1 id="events_header">{{user_name}}'s Event</h1>
    <!-- <h2>Your Go-to Platform for Memes!</h2> -->

    <div id="connections">
      <h1>Your Connections:</h1>
      {% for friend_key in friend_list %}
        {% set friend = friend_key.get() %}
        <div class=row>
          <div class=img></div>
          <div class=description>
            <p> {{friend.username}} </p>
            <p> {{friend.first_name}} </p>
          </div>
        </div>
      {% endfor %}
    </div>

<div id="body_div">
   <div id="event-div">
     <select name="event-type">
      <option value="all">All Events</option>
      <option value="friend-events">Friend Events</option>
    </select>
      <button type="button" name="button">
        <a href="/new_event">Create Event</a>
      </button>
    <br>
    <br>
    <br>

  {% for event in event_info %}
    <div class=row>
      <div class=img></div>
      <div class=description></div>
        <p> {{event.title}} </p>
        <p> {{event.summary}} </p>
    </div>
  {% endfor %}
  </div>
</div>
  </body>
</html>
