<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Setting</title>
    <link rel="stylesheet" href="static/css/setting.css">
  </head>
  <body>
    <header>
      <div class="container">
        <a href = "https://schedify.appspot.com">
      <img src="static/images/logo.png" alt="Schedify Logo" style="height:70px;">
       </a>
        <nav>
        </nav>
      </div>
    </header>
    <h1 id="settings_header">Settings</h1>
    <form class="" action="/event" method="post">
      <input type="hidden" name="event_searchid" value="{{event.key.id()}}">
      <input type="submit" name="" value="Go back" id="go_back">
    </form>
    <div id="tamakikotatsu_isbestgirl">
        <form class="" action="/event_setting" method="post">
          <input type="hidden" name="event_id" value="{{event.key.id()}}">
          Change Title:<br>
          <input type="text" name="new_title" value="{{event.title}}">
          <br>
          Change Summary:<br>
          <input type="text" name="new_summary" value="{{event.summary}}">
          <br>
          <input type="submit" name="" value="Update Event">
        </form>
        <form class="" action="/event-feed" method="get">
          <input type="hidden" name="event_id" value="{{event.key.id()}}">
          <input type="submit" name="delete_event" value="Delete event">
        </form>
    </div>
  </body>
</html>
