<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../static/css/event.css">
  </head>
    <title>Events</title>


  <body>
    <!-- Nav bar -->
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/event">Events</a>
      <a href="/connections">Connections</a>
      <a href="/profile">Profile</a>
    </div>

    <h1>Events</h1>
    <!-- <h2>Your Go-to Platform for Memes!</h2> -->
   <div id="event-div">
     <select name="event-type">
      <option value="all">All Events</option>
      <option value="friend-events">Friend Events</option>
      <input type="button" onclick="window.location.href = 'https://oval-day-247513.appspot.com/gen_a_meme';" value="Create Event"/>
    </select>
      <button type="button" name="button">
        <a href="/new_event">Create Event</a>
      </button>
    <br>
    <br>
    <br>

  {% for event in event_info %}
    <div class=row>
      <div class=img></div>
      <div class=description></div>
        <p> {{event.title}} </p>
        <p> {{event.summary}} </p>
    </div>
  {% endfor %}
  </div>
  </body>
</html>
