<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/static/css/event.css">
  </head>
    <title>Events</title>


  <body>
    <!-- Nav bar -->
    <header>
    <div class="container">
      <h5 class="logo">Schedify</h5>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/event-feed">Events</a></li>
          <li><a href="/connections">Connections</a></li>
          <li><a href="/profile">Profile</a></li>
        </ul>
      </nav>
    </div>
  </header>
    <!-- <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/event-feed">Events</a>
      <a href="/connections">Connections</a>
      <a href="/profile">Profile</a>
    </div> -->

    <h1 id="events_header">{{event_title}}</h1>
    <div id="event_text">
      <h1>{{owner_name}}'s Event:</h1>
        <div class=row>
          <div class=img></div>
          <div class=description>
            <p> {{event_description}}</p>
          </div>
        </div>
    </div>
  </body>
</html>
