<!DOCTYPE html>
<html>
  <head>
    <title>Schedify</title>
    <link rel="stylesheet" href="static/css/home.css">
  </head>
  <body>
    <!-- Nav bar -->

  <header>
    <div class="container">
      <h5 class="logo">Schedify</h5>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/event-feed">Events</a></li>
          <li><a href="/connections">Connections</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="{{sign_out}}">Sign Out</a></li>
        </ul>
      </nav>
    </div>
  </header>

    <!-- <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/event-feed">Events</a>
      <a href="/connections">Connections</a>
      <a href="#profile">Profile</a>

      <!-- temporary anchor user to sign output
        in the future, user will sign out by going through their
        profile -->

    <!-- </div> -->


    <h1 id="your_schedule">Home</h1>
<div id="calendar-div">
    <h1>Your Schedule</h1>
    <iframe src="https://calendar.google.com/calendar/embed?src={{emailStart}}%40gmail.com&ctz=America%2FNew_York&amp;bgcolor=%23e0ffe0&amp;mode=WEEK" style="border: 0" width="1014" height="300" frameborder="0" scrolling="no"></iframe>
    <div id="compare_button">
    <br>
<button type="button" name="button">
  <a href="/schedule">Compare with Connections</a>
</button>
</div>
      <!-- Embedded Calendar: Currently works for any logged in user -->
    <br>
    <br>
    <br>
    <h1>Who's Free?</h1>
    <!-- Want: API to print who in your friend list is free right now-->
    <!-- IN MAIN.PY: POST https://www.googleapis.com/calendar/v3/freeBusy -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Events Happening</h1>
    <h3>events here</h3>
  <script type="text/javascript" src="script.js"></script>
  </div>
  <script src="static/js/home.js" type="text/javascript"></script>
  </body>
</html>
