<!DOCTYPE html>
<html>
  <head>
    <title>Schedify</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Your Schedule</h1>
    <iframe src="https://calendar.google.com/calendar/embed?src=SchedifyTeam%40gmail.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    <h1>Friends Schedules</h1>
    <iframe src="https://calendar.google.com/calendar/embed?src=leah.attai%40gmail.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    <h1>Events Happening</h1>
    <h3>events here</h3>
  <script type="text/javascript" src="script.js"></script>
  </body>
</html>
