<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Schedify</title>
    <link rel="stylesheet" href="../static/css/landing.css">
  </head>
  <body>
    <header>
      <div class="container">
        <a href = "https://schedify.appspot.com">
      <img src="static/images/logo.png" alt="Schedify Logo" style="height:70px;">

       </a>
        <nav>
          <ul>
        <li><a href="{{login}}">Log in</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <h1 id="greeting">Welcome<h1>
    <!-- Nav bar -->
    <div class="topnav">
        <!-- <a id="create-account" href="{{create_account}}">Create an account</a> -->
      </div>
    </div>
    <div id="image">
    <img src="https://media1.giphy.com/media/QJH9Iy4CRDloxGHWFc/giphy.gif" alt="">
    </div>
    <div id="mission_statement">
      <h1 id="our_mission">Our Mission:</h1>
      <p class="mission_lines">We aim to make planning easy and bring people together.</p>
      <p class="mission_lines">Who are we trying to connect? Everyone and their mother.</p>
    </div>
  </body>
</html>
