<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet" href="static/css/profile.css">
  </head>
  <body>
    <!-- Nav bar -->
    <header>
      <div class="container">
        <h5 class="logo">Schedify</h5>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/event-feed">Events</a></li>
            <li><a href="/connections">Connections</a></li>
            <li><a href="/profile">Profile</a></li>
          </ul>
        </nav>
      </div>
    </header>
  <h1 id="profile_page">Profile</h1>

    <img src="" alt="">
    <h1>{{user_name}}</h1>
    <!-- displays user profile -->
    {% if account == "self" %}
      <button type="button" name="button">
        <a href="/profile">setting</a>
      </button>
    {% endif %}

    <!-- displays friend profile -->
    {% if account == "other" %}
      <form class="" action="/profile" method="post">
        <!-- if they are not in your friend status -->
        {% if friend_status == false %}
          {% if request_status == false %}
            <input type="submit" name="friend_status" value="add friend">
          {% endif %}
          {% if request_status == true %}
            <input type="submit" name="friend_status" value="request">
          {% endif %}
        {% endif %}

        <!-- if they are in your friends list -->
        {% if friend_status == true %}
          <input type="submit" name="friend_status" value="remove friend">
        {% endif %}
        <input type="hidden" name="username_search" value={{user_name}}>
      </form>
    {% endif %}
    <h5>{{first_name}} {{last_name}}</h5>
    <div class="bio">
      <p>Biography of person</p>
    </div>
  </body>
</html>
