<!DOCTYPE html>
<html>
<title>Your Schedule</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/css/index.css">
<body>



<div >
  <div >
    <h1>My calendar</h1>
  </div>
</div>

<div>
  <button class="rMenuButton" onclick="openRightMenu()">&#9776;</button>

  <div class="rMenuButtonOpened" style="display:none;right:0;" id="rightMenu">
    <button onclick="closeRightMenu()" class="rMenuButtonClose">Close &times;</button>
    <a id= "compare1" href="#1" class="sidebarbutton">friend[0]</a>
    <a href="#2" class="sidebarbutton">friend[1]</a>
    <a href="#3" class="sidebarbutton">friend[2]</a>
  </div>
  <div class="yourSchedule">
    <h1>Your Schedule</h1>

    <iframe id="your-month"src="https://calendar.google.com/calendar/embed?src={{emailStart}}%40gmail.com&ctz=America%2FNew_York" style="border: 0" width="1014" height="600" frameborder="0" scrolling="no"></iframe>

    <!-- To do on main:
            Parse email
            Get friend emails
            Parse emails
            rename variables goofus
            -->
  </div>
  <div class="compare">
    <iframe id="your-week" src="https://calendar.google.com/calendar/embed?src={{emailStart}}%40gmail.com&ctz=America%2FNew_York &amp;mode=WEEK" &amp;bgcolor=%23e0ffe0 style="border: 0" width="1014" height="300" frameborder="0" scrolling="no"></iframe>
    <!-- your schedule ^^^ -->

    <br><br><br>
    <iframe id="friends-week"src="https://calendar.google.com/calendar/embed?src={{emailStart}}%40gmail.com&ctz=America%2FNew_York &amp;mode=WEEK" style="border: 0" width="1014" height="300" frameborder="0" scrolling="no"></iframe>

    <!-- Friend's Schedule ^^^ -->
  </div>
</div>

<script>

function openRightMenu() {
  document.getElementById("rightMenu").style.display = "block";
}

function closeRightMenu() {
  document.getElementById("rightMenu").style.display = "none";
}
</script>

  <script src="script.js" type="text/javascript"></script>
</body>
</html>
