<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign up!</title>
    <link rel="stylesheet" href="../static/css/sign-up.css">
  </head>
  <body>
    <header>
      <div class="container">
        <a href = "https://schedify.appspot.com">
      <img src="static/images/logo.png" alt="Schedify Logo" style="height:70px;" id="logo">
       </a>
        <nav>
          <ul>
      <li><a href="{{sign_out}}">Go Back</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <h1 id="make_profile">Let's Get Started!</h1>
    <div id="create_account">
    <div class="container">
      <form method="post" action="/">
        User Name:<br>
        <input type="text" name="user_name">
        <br>
        First Name:<br>
        <input type="text" name="first_name">
        <br>
        Last Name:<br>
        <input type="text" name="last_name">
        <br>
        <input type="submit">
        <br>
      </form>
    </div>
    </div>
  </body>
</html>
