<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign up!</title>
    <link rel="stylesheet" href="../static/css/sign-up.css">
  </head>
  <body>
    <div class="top-navbar">
      <a href="{{sign_out}}">X</a>
    </div>
    <div class="container">
      <h1>Let's Get Started!</h1>
      <form method="post" action="/">
        First Name:<br>
        <input type="text" name="first_name">
        <br>
        Last Name:<br>
        <input type="text" name="last_name">
        <br>
        <input type="submit">
        <br>
      </form>
    </div>
  </body>
</html>
