<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="../static/css/welcome.css">
  </head>
  <body>
    <div id="welcome_text">
    <h1 id="user-name">{{first_name}},</h1>
    <h2 id="intro-text">Welcome to our family</h2>
    <div id="button">
    <button type="button" name="button"><a href="/">Let's get started!</a></button>
    </div>
    <img src="http://25.media.tumblr.com/c99a579db3ae0fc164bf4cca148885d3/tumblr_mjgv8kEuMg1s87n79o1_400.gif" alt="Over 9,000!!">
    <!-- <img src="https://pa1.narvii.com/5600/31c2c2488e7a356f2693906820482de3374daf65_hq.gif" alt="Over 9,000!!"> -->
    </div>
  </body>
</html>
