<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="../static/css/welcome.css">
  </head>
  <body>
    <div id="welcome_text">
    <h1 id="user-name">{{first_name}},</h1>
    <h2 id="intro-text">Welcome to our family</h2>
    <div id="button">
    <button type="button" name="button"><a href="/">Let's get started!</a></button>
    </div>
    </div>
    <div id="gif_stuff">
    <!-- <img src="https://i.pinimg.com/originals/51/67/a9/5167a96a93fb82096e452f28bfa8815b.gif" alt="Over 9,000!!" height="450px"> -->
    <img src="http://i.imgur.com/0kvtMLE.gif" alt="Over 9,000!!" height="460px">
    </div>
  </body>
</html>
